/* 
0-600 mobile
600-900 tablet portrait
900-1200 tablet landscape midscreen
1200-1800 desktop
1800+ large screens
*/
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.grid {
  display: grid; }

.textCenter {
  text-align: center; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 60%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 31.25%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 100%; } }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #777;
  padding: 3rem;
  overflow: visible;
  margin: 0;
  box-sizing: border-box;
  z-index: -1; }
  @media only screen and (max-width: 37.5em) {
    body {
      padding: 0; } }

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all .3s linear;
  box-sizing: inherit; }

p {
  margin: 2rem 0;
  font-size: 1.6rem;
  line-height: 1.6; }
  @media only screen and (max-width: 56.25em) {
    p {
      font-size: 2rem; } }

a:link,
a:visited {
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase; }

.heading {
  color: white;
  text-transform: uppercase;
  letter-spacing: 1.5rem;
  font-size: 2.4rem; }
  .heading .top {
    font-size: 6rem;
    display: block;
    margin-bottom: 2rem;
    font-weight: 400;
    letter-spacing: 3rem;
    padding-left: 3rem;
    animation: fadeLeft 2s;
    -webkit-animation: fadeLeft 2s; }
    @media only screen and (max-width: 37.5em) {
      .heading .top {
        letter-spacing: 2rem;
        padding-left: 2rem; } }
  .heading .bottom {
    padding-left: 1.5rem;
    animation: fade 3s;
    -webkit-animation: fade 3s; }

.headingSec {
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
  font-size: 3.6rem;
  margin: 2rem 0 6rem;
  text-transform: uppercase; }

.headingThird {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase; }
  @media only screen and (max-width: 56.25em) {
    .headingThird {
      font-size: 2rem; } }

.icon {
  font-size: 6rem;
  margin-bottom: 3rem;
  margin-top: 2rem;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block; }
  @media only screen and (max-width: 37.5em) {
    .icon {
      margin-bottom: 2rem; } }

.title {
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: 300; }

.caption {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: white; }

@keyframes fadeLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeUp {
  0% {
    transform: translateY(20rem);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@keyframes blowUp {
  0% {
    opacity: 1;
    transform: scale(1); }
  100% {
    opacity: 0;
    transform: scale(1.5); } }

@keyframes rotate45 {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(45deg); } }

@keyframes rotate-45 {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(-45deg); } }

@keyframes slide {
  0% {
    transform: translateX(-100%); }
  70% {
    transform: translateX(40px); }
  100% {
    transform: translateX(0); } }

.btn {
  padding: 1.5rem 3rem;
  border-radius: 3rem;
  font-size: 1.6rem;
  box-shadow: 0 0.2rem 1rem 0 rgba(0, 0, 0, 0.3);
  position: relative;
  border: none;
  cursor: pointer; }
  .btn:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 0.7rem 1.2rem 0 rgba(0, 0, 0, 0.3); }
  .btn:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.2rem 1rem 0 rgba(0, 0, 0, 0.3); }
  .btn::after {
    content: "";
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 3rem;
    z-index: -1; }
  .btn:hover::after {
    animation: blowUp .5s ease-out;
    -webkit-animation: blowUp .5s ease-out; }
  .btn-white, .btn-white::after {
    background-color: white;
    color: #777; }
  .btn-green, .btn-green::after {
    background-color: #55c57a;
    color: white; }

.btn-trans:link, .btn-trans:visited,
.btn-trans:link,
.btn-trans:visited {
  font-size: 1.6rem;
  padding: .5rem;
  border-bottom: 0.1rem solid #55c57a;
  text-transform: capitalize;
  color: #55c57a; }

.btn-trans:hover,
.btn-trans:hover {
  color: white;
  background-color: #55c57a; }

.btn-trans:hover,
.btn-trans:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 0.7rem 1.2rem 0 rgba(0, 0, 0, 0.3); }

.btn-trans:active,
.btn-trans:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.2rem 1rem 0 rgba(0, 0, 0, 0.3); }

.toggle {
  flex-direction: column;
  justify-content: center;
  width: 6rem;
  height: 6rem;
  background-color: white;
  border-radius: 50%;
  z-index: 1500;
  position: fixed;
  right: 7rem;
  top: 6rem;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.2); }
  @media only screen and (max-width: 37.5em) {
    .toggle {
      right: 4rem;
      top: 3rem; } }
  .toggle span {
    display: block;
    margin: .3rem 0;
    width: 3rem;
    height: .2rem;
    background-color: #777;
    transition: all .2s; }
  .toggle Span:not(:nth-of-type(2)) {
    transition: all .5s;
    transform: translateY(0) rotate(0); }
  .toggle .clickedSpan:first-of-type {
    transform: translateY(0.9rem) rotate(45deg); }
  .toggle .clickedSpan:last-of-type {
    transform: translateY(-0.7rem) rotate(-45deg); }
  .toggle .clickedSpan:nth-of-type(2) {
    opacity: 0; }
  .toggle:hover {
    cursor: pointer; }
  .toggle:hover span:nth-of-type(2) {
    margin: .5rem 0; }
  .toggle:hover .clickedSpan:nth-of-type(2) {
    margin: .3rem 0; }

.card {
  background-color: rgba(255, 255, 255, 0.7);
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3); }
  .card:hover {
    transform: translateY(-2rem); }

.tourCard {
  position: relative;
  height: 55rem;
  perspective: 150rem; }
  .tourCardSide {
    overflow: hidden;
    position: absolute;
    border-radius: 3px;
    top: 0;
    left: 0;
    height: 55rem;
    width: 100%;
    backface-visibility: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
    transition: all .8s ease; }
    .tourCardSide.Front {
      background-color: white; }
      .tourCardSide.Front .photo {
        width: 100%;
        height: 25rem;
        clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%); }
        .tourCardSide.Front .photo.orange {
          background-image: url("../img/nat-5.jpg");
          background-size: cover;
          background-position: center;
          background-color: #ffb900;
          background-blend-mode: screen; }
        .tourCardSide.Front .photo.green {
          background-image: url("../img/nat-6.jpg");
          background-size: cover;
          background-position: center;
          background-color: #7ed56f;
          background-blend-mode: screen; }
        .tourCardSide.Front .photo.blue {
          background-image: url("../img/nat-7.jpg");
          background-size: cover;
          background-position: center;
          background-color: #2998ff;
          background-blend-mode: screen; }
      .tourCardSide.Front .title.orange {
        background-color: rgba(255, 119, 48, 0.4); }
      .tourCardSide.Front .title.green {
        background-color: rgba(40, 180, 133, 0.4); }
      .tourCardSide.Front .title.blue {
        background-color: rgba(86, 67, 250, 0.4); }
      .tourCardSide.Front .title span {
        font-size: 3rem;
        position: absolute;
        background-color: inherit;
        display: inline-block;
        color: white;
        padding: 1rem;
        right: 2rem;
        z-index: 40; }
        .tourCardSide.Front .title span.first {
          top: 16rem; }
        .tourCardSide.Front .title span.sec {
          top: 20rem; }
      .tourCardSide.Front .details {
        flex-direction: column;
        justify-content: center;
        height: 30rem;
        padding: 0 2rem; }
        .tourCardSide.Front .details ul {
          list-style: none; }
          .tourCardSide.Front .details ul li {
            font-size: 1.6rem;
            padding: 1.5rem 4rem;
            text-align: center;
            width: 100%; }
            @media only screen and (max-width: 37.5em) {
              .tourCardSide.Front .details ul li {
                font-size: 2rem; } }
            .tourCardSide.Front .details ul li:not(:last-of-type) {
              border-bottom: 1px solid #e6e5e5; }
    .tourCardSide.Back {
      padding: 2rem;
      transform: rotateY(180deg);
      flex-direction: column;
      justify-content: center; }
      .tourCardSide.Back span {
        color: white;
        font-size: 1.6rem;
        text-transform: uppercase; }
        .tourCardSide.Back span.price {
          font-size: 5.4rem;
          font-weight: 200;
          margin-top: 2rem;
          margin-bottom: 10rem; }
      .tourCardSide.Back.orange {
        background-image: linear-gradient(to bottom right, #ffb900, #ff7730); }
      .tourCardSide.Back.green {
        background-image: linear-gradient(to bottom right, #7ed56f, #28b485); }
      .tourCardSide.Back.blue {
        background-image: linear-gradient(to bottom right, #2998ff, #5643fa); }
  .tourCard:hover .tourCardSide.Front {
    transform: rotateY(-180deg); }
  .tourCard:hover .tourCardSide.Back {
    transform: rotateY(0); }
  @media only screen and (min-width: 56.25), only screen and (hover: none) {
    .tourCard {
      height: 85rem;
      background-color: white;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
      .tourCardSide {
        position: static; }
        .tourCardSide.Front {
          box-shadow: none; }
        .tourCardSide.Back {
          height: 31rem;
          transform: rotate(0);
          clip-path: polygon(0 15%, 100% 0, 100% 99%, 0 100%); }
          .tourCardSide.Back span.price {
            margin: 2rem 0; }
      .tourCard:hover .tourCardSide.Front {
        transform: rotate(0); } }

.blur {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.1);
  top: 0;
  left: 0;
  z-index: 2000;
  backdrop-filter: blur(5px);
  display: none; }

.appear {
  display: block; }

.popup {
  flex-wrap: wrap;
  flex-direction: row-reverse;
  position: fixed;
  box-shadow: 0 1.5rem 5rem 0 rgba(0, 0, 0, 0.2);
  width: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: 2500;
  background-color: white;
  border-radius: 4px;
  overflow: hidden; }
  @media only screen and (max-width: 56.25em) {
    .popup {
      width: 90%; } }
  .popup .close {
    position: absolute;
    background: none;
    border: none;
    color: #777;
    font-size: 2rem;
    right: 3rem;
    top: 2rem; }
    .popup .close:hover, .popup .close:focus {
      color: #55c57a; }
  .popup .scenes {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    @media only screen and (max-width: 37.5em) {
      .popup .scenes {
        width: 100%;
        flex-direction: row; } }
    .popup .scenes img {
      width: 100%; }
      @media only screen and (max-width: 37.5em) {
        .popup .scenes img {
          width: 50%; } }
      .popup .scenes img:last-of-type {
        transform: translateY(-2px); }
        @media only screen and (max-width: 37.5em) {
          .popup .scenes img:last-of-type {
            transform: translateY(0); } }
  .popup .description {
    width: 65%;
    padding: 2rem 3rem; }
    @media only screen and (max-width: 37.5em) {
      .popup .description {
        width: 100%; } }
    .popup .description .headingSec {
      margin: 3rem 0 2rem; }
    .popup .description .text {
      line-height: 1.6;
      font-size: 1.4rem;
      margin: 2rem 0;
      column-count: 2;
      column-gap: 3rem;
      column-rule: 1px solid #f7f7f7;
      hyphens: auto; }
      @media only screen and (max-width: 37.5em) {
        .popup .description .text {
          font-size: 1.8rem; } }
  .popup a {
    display: inline-block;
    margin-bottom: 3rem; }

.grow {
  transform: translate(-50%, -50%) scale(1); }

.experience {
  transform: skewX(-10deg);
  background-color: rgba(255, 255, 255, 0.7);
  margin: 4rem 5rem;
  border-radius: 3px;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  text-align: left; }
  @media only screen and (max-width: 56.25em) {
    .experience {
      margin: 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .experience {
      transform: skewX(0); } }

.story {
  transform: skewX(10deg);
  padding: 5rem;
  padding-left: 8rem; }
  @media only screen and (max-width: 56.25em) {
    .story {
      padding: 5rem 3rem;
      padding-left: 6rem; } }
  @media only screen and (max-width: 37.5em) {
    .story {
      transform: skewX(0); } }
  .story .person {
    position: relative;
    shape-outside: circle(50% at 50% 50%);
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    float: left;
    overflow: hidden;
    transform: translateX(-3rem); }
    .story .person img {
      height: 100%;
      transform: translateX(-2rem) scale(1.4); }
    .story .person .caption {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 20%);
      text-align: center;
      opacity: 0; }
  .story:hover .caption {
    opacity: .8;
    transform: translate(-50%, -50%); }
  .story:hover img {
    transform: translateX(-2rem) scale(1);
    filter: blur(4px) brightness(90%); }

.videoContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: .15;
  z-index: -1; }
  .videoContainer .video {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.bookingForm {
  width: 50%;
  flex-direction: column;
  align-items: flex-start;
  padding: 5rem; }
  @media only screen and (max-width: 56.25em) {
    .bookingForm {
      width: 100%; } }
  .bookingForm .formInput {
    font-family: inherit;
    padding: 1.5rem 2rem;
    width: calc(100% - 3rem);
    border-radius: 3px;
    background-color: white;
    color: inherit;
    display: block;
    margin-bottom: 2rem;
    border: none;
    border-bottom: 3px solid transparent;
    z-index: 2; }
    @media only screen and (max-width: 56.25em) {
      .bookingForm .formInput {
        width: 80%;
        margin-left: auto;
        margin-right: auto; } }
    @media only screen and (min-width: 112.5em) {
      .bookingForm .formInput {
        font-size: 1.8rem; } }
    .bookingForm .formInput:focus {
      outline: none;
      border-bottom: 3px solid #ff7730;
      box-shadow: 0 1rem 4rem 0 rgba(0, 0, 0, 0.1); }
    .bookingForm .formInput:valid {
      border-bottom: 3px solid #28b485; }
    .bookingForm .formInput:placeholder-shown + label {
      top: -10rem;
      visibility: hidden;
      opacity: 0; }
  .bookingForm .radioContainer {
    margin-bottom: 4rem; }
    @media only screen and (max-width: 56.25em) {
      .bookingForm .radioContainer {
        margin-left: auto;
        margin-right: auto; } }
    .bookingForm .radioContainer .radioLabel {
      position: static;
      font-weight: 500;
      padding: 0 5px;
      font-size: 1.6rem;
      display: inline-flex;
      align-items: center;
      margin-right: 1rem; }
      .bookingForm .radioContainer .radioLabel .customRadio {
        display: inline-block;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        border: 4px solid #55c57a;
        position: relative;
        cursor: pointer;
        margin-right: 1rem; }
        @media only screen and (max-width: 37.5em) {
          .bookingForm .radioContainer .radioLabel .customRadio {
            width: 16px;
            height: 16px;
            border-width: 2px; } }
        .bookingForm .radioContainer .radioLabel .customRadio::after {
          content: "";
          width: 14px;
          height: 14px;
          border-radius: 50%;
          background-color: #55c57a;
          position: absolute;
          top: 3px;
          left: 3px;
          opacity: 0; }
          @media only screen and (max-width: 37.5em) {
            .bookingForm .radioContainer .radioLabel .customRadio::after {
              width: 8px;
              height: 8px;
              top: 2px;
              left: 2px; } }
    .bookingForm .radioContainer .formRadio {
      display: none; }
    .bookingForm .radioContainer .formRadio:checked + label span::after {
      opacity: 1; }

.navBackground {
  width: 5rem;
  height: 5rem;
  position: fixed;
  top: 6.5rem;
  right: 7.5rem;
  background-image: radial-gradient(#7ed56f, #28b485);
  z-index: 1000;
  border-radius: 50%;
  transition: all .6s ease-in-out; }
  @media only screen and (max-width: 37.5em) {
    .navBackground {
      top: 3.5rem;
      right: 4.5rem; } }

.expand {
  transform: scale(80); }

.navigation {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transform: translateX(-100%);
  transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6); }
  .navigation.slide {
    transform: translateX(0); }
  .navigation .navList {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    list-style: none; }
    .navigation .navList li {
      margin-bottom: 1rem; }
      .navigation .navList li a {
        padding: 1.5rem 2rem; }
        .navigation .navList li a span {
          padding-right: 10px; }
      .navigation .navList li a:link,
      .navigation .navList li a:visited {
        color: white;
        font-size: 3rem;
        font-weight: 300;
        background-image: linear-gradient(120deg, transparent 50%, white 50%);
        background-size: 225%; }
      .navigation .navList li a:hover,
      .navigation .navList li a:focus,
      .navigation .navList li a:active {
        color: #55c57a;
        background-position: 100%;
        transform: translateX(1rem); }

header {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.75), rgba(40, 180, 133, 0.75)), url("../img/hero-small.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0% 100%);
  height: calc(100vh - 4rem); }
  @media only screen and (max-width: 56.25em) {
    header {
      clip-path: polygon(0 0, 100% 0, 100% 41.25vh, 0% 100%);
      height: calc(55vh - 4rem); } }
  @media (max-width: 75em) and (min-height: 78.125em) {
    header {
      clip-path: polygon(0 0, 100% 0, 100% 37.5vh, 0% 100%);
      height: calc(50vh - 4rem); } }
  @media (min-resolution: 192dpi) and (min-width: 37.5em), (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), (min-width: 125em) {
    header {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.75), rgba(40, 180, 133, 0.75)), url("../img/hero.jpg");
      background-size: cover;
      background-position: center; } }
  header nav {
    padding: 4rem;
    position: relative; }
    header nav img {
      width: 7rem; }

.intro {
  text-align: center;
  padding: 0 .5rem; }
  .intro a {
    margin-top: 4rem;
    animation: fadeUp 1s 1s backwards;
    -webkit-animation: fadeUp 1s 1s backwards; }

.footer {
  background-color: #333333;
  padding: 3rem 10%;
  padding-bottom: 8rem;
  color: white;
  flex-wrap: wrap;
  align-items: flex-start;
  font-size: 1.5rem; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      font-size: 1.8rem;
      text-align: center; } }
  .footer .footLogo {
    width: 100%;
    padding: 5rem 0 8rem; }
    .footer .footLogo picture {
      width: 15rem; }
  .footer .contacts {
    width: calc(50% - 6rem);
    padding-top: 3rem;
    border-top: 1px solid white; }
    @media only screen and (max-width: 56.25em) {
      .footer .contacts {
        width: 100%;
        padding: 6rem; } }
    .footer .contacts ul {
      list-style: none;
      padding-left: 0;
      flex-wrap: wrap;
      justify-content: space-evenly;
      gap: 2rem 0; }
      .footer .contacts ul li {
        align-self: center; }
        .footer .contacts ul li:not(:last-of-type) {
          padding-right: 1rem; }
        .footer .contacts ul li a:visited,
        .footer .contacts ul li a:link {
          color: white; }
        .footer .contacts ul li a:hover,
        .footer .contacts ul li a:focus,
        .footer .contacts ul li a:active {
          color: #28b485;
          font-weight: 500; }
  .footer .rights {
    width: calc(50% - 6rem);
    padding-top: 3rem;
    border-top: 1px solid white;
    line-height: 1.6; }
    @media only screen and (max-width: 56.25em) {
      .footer .rights {
        width: 100%; } }

.about {
  background-color: #f7f7f7;
  margin-top: calc((25vh - 4rem) * -1);
  padding: 20rem 5% 30rem;
  flex-wrap: wrap;
  align-items: flex-start; }
  @media only screen and (max-width: 56.25em) {
    .about {
      padding: 18rem 5%; } }
  @media only screen and (max-width: 56.25em) {
    .about {
      margin-top: calc((14.75vh - 4rem) * -1); } }
  @media (max-width: 75em) and (min-height: 78.125em) {
    .about {
      padding: 15rem 5%;
      margin-top: calc((12.5vh - 4rem) * -1); } }
  .about .full {
    width: 100%; }
  .about .info {
    width: 50%;
    padding: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .about .info {
        width: 100%; } }
    .about .info p:first-of-type {
      margin-bottom: 4rem; }
  .about .pictures {
    width: 50%;
    position: relative;
    padding: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .about .pictures {
        width: 100%;
        height: 25rem; } }
    .about .pictures img {
      position: absolute;
      width: 54%;
      box-shadow: 0 1.5rem 4rem 0 rgba(0, 0, 0, 0.3);
      border-radius: 3px;
      outline-offset: 1rem; }
      @media only screen and (max-width: 56.25em) {
        .about .pictures img {
          width: 30%; } }
      .about .pictures img.one {
        top: 0; }
        @media only screen and (max-width: 56.25em) {
          .about .pictures img.one {
            top: 5rem;
            left: 15%; } }
      .about .pictures img.two {
        right: 0;
        top: 4rem; }
        @media only screen and (max-width: 56.25em) {
          .about .pictures img.two {
            top: 3rem;
            left: 35%;
            z-index: 2; } }
      .about .pictures img.three {
        left: 22%;
        top: 10rem; }
        @media only screen and (max-width: 56.25em) {
          .about .pictures img.three {
            top: 5rem;
            left: 55%; } }
      .about .pictures img:hover {
        box-shadow: 0 2rem 4rem 0 rgba(0, 0, 0, 0.5);
        z-index: 10;
        transform: scale(1.05);
        outline: 1rem solid #55c57a; }
    .about .pictures:hover img:not(:hover) {
      transform: scale(0.9); }

.benefits {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.75), rgba(40, 180, 133, 0.75)), url("../img/nat-4.jpg");
  background-size: cover;
  background-position: center;
  margin-top: -10rem;
  padding: 15rem 5%;
  transform: skewY(-7deg); }
  @media only screen and (max-width: 37.5em) {
    .benefits {
      transform: skewY(-11deg); } }
  .benefits .grid {
    transform: skewY(7deg);
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem; }
    @media only screen and (max-width: 37.5em) {
      .benefits .grid {
        transform: skewY(11deg); } }
    @media only screen and (max-width: 37.5em) {
      .benefits .grid {
        grid-template-columns: 240px;
        justify-content: center; } }

.tours {
  padding: 15rem 5%;
  margin-top: -10rem;
  background-color: #f7f7f7; }
  .tours .grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 6rem;
    margin: 2rem 0 12rem; }
    @media only screen and (max-width: 56.25em) {
      .tours .grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
        justify-content: center; } }

.stories {
  padding: 10rem 5%;
  position: relative; }

.booking {
  padding: 12rem 5%;
  background-image: linear-gradient(to bottom right, #7ed56f, #28b485); }

.formContainer {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.8) 50%, transparent 50%), url(../img/nat-10.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  overflow: hidden; }
  @media only screen and (max-width: 56.25em) {
    .formContainer {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.8) 50%), url(../img/nat-10.jpg); } }
  .formContainer label {
    font-weight: 600;
    font-size: 1.4rem;
    padding: 1rem 2rem;
    text-transform: capitalize;
    position: relative;
    top: -12rem;
    z-index: 1; }
    @media only screen and (max-width: 56.25em) {
      .formContainer label {
        left: 10%; } }
    @media only screen and (min-width: 112.5em) {
      .formContainer label {
        top: -11rem; } }
